<% if @owner_orders.where(status:"refused").empty? %>
  <h3>You haven't received any order. Here you can see <%= link_to "upload a product", new_product_path %></h3>
<% else %>
    <% @owner_orders.where(status:"refused").each do |order| %>
    <div class="row carder bg-light mb-3">
    <div class="col-xs-1">
      <div class="card-body image-order"><%= image_tag(order.product.product_images.first.photo_url, class: "image-order") %></div>
    </div>
    <div class="col-xs-3">
      <div class="card-body title"><%= order.product.title.capitalize %></div>
      <div class="card-body"><%= order.product.description %></div>
    </div>
    <div class="col-xs-3">
        <div class="card-body"><%= cl_image_tag order.product.user.avatar_url, class: "avatar" %>  <%= order.user.first_name.capitalize%></div>
    </div>
    <div class="col-xs-4">
      <div class="card-body">From <%= l(order.start_date, format: :long) %> to <%= l(order.end_date, format: :long) %></div>
      <div class="card-body"><strong>Total : <%= humanized_money_with_symbol(order.amount) %></strong></div>
    </div>
  </div>
    <% end %>
  <% end %>
