<% if @owner_orders.where(status:"pending_acceptance").empty? %>
  <h3>You haven't received any order. Here you can <%= link_to "upload a product", new_product_path %></h3>
<% else %>
    <% @owner_orders.where(status:"pending_acceptance").each do |order| %>
    <% if  order.product.product_images.empty? %>
          <div class="row carder bg-light mb-3">
            <div class="col-xs-3">
              <div class="card-body"><%= order.product.title %></div>
              <div class="card-body"><%= order.product.description %></div>
            </div>
            <div class="col-xs-4">
              <div class="card-body">From <%= order.start_date %> to <%= order.end_date %></div>
            </div>
            <div class="col-xs-4">
              <div class="card-body">
                <ul class="list-inline">
                <li><strong>Total : <%= humanized_money_with_symbol(order.amount) %></strong></li>
                <li><%= simple_form_for(order, method: :patch) do |f| %>
                    <%= f.input :status, :as => :hidden, :input_html => { :value => "Accepted" } %>
                    <%= f.input :redirect_path, :as => :hidden, :input_html => { :value => "index"}  %>
                    <%= f.submit'Accept', class: 'btn btn-success' %>
                  <% end %></li>

                <li><%= simple_form_for(order, method: :patch) do |f| %>
                    <%= f.input :status, :as => :hidden, :input_html => { :value => "Refused" } %>
                    <%= f.input :redirect_path, :as => :hidden, :input_html => { :value => "index"}  %>
                    <%= f.submit'Refuse', class: 'btn btn-danger' %>
                  <% end %></li>
                </ul>
              </div>
            </div>
          </div>
    <% else %>
    <div class="row carder bg-light mb-3">
    <div class="col-xs-1">
      <div class="card-body image-order"><%= image_tag(order.product.product_images.first.photo_url, class: "image-order") %></div>
    </div>
    <div class="col-xs-3">
      <div class="card-body title"><%= order.product.title.capitalize %></div>
      <div class="card-body"><%= order.product.description %></div>
    </div>
    <div class="col-xs-3">
        <div class="card-body"><%= cl_image_tag order.user.avatar_url, class: "avatar" %>  <%= order.user.first_name.capitalize%></div>
    </div>
    <div class="col-xs-4">
      <div class="card-body">From <%= l(order.start_date, format: :long) %> to <%= l(order.end_date, format: :long) %></div>
      <div class="card-body">
        <ul class="list-inline">
        <li><strong>Total : <%= humanized_money_with_symbol(order.amount) %></strong></li>
        <li><%= simple_form_for(order, method: :patch) do |f| %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "Accepted" } %>
            <%= f.input :redirect_path, :as => :hidden, :input_html => { :value => "index"}  %>
            <%= f.submit'Accept', class: 'btn btn-success' %>
          <% end %></li>

        <li><%= simple_form_for(order, method: :patch) do |f| %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "Refused" } %>
            <%= f.input :redirect_path, :as => :hidden, :input_html => { :value => "index"}  %>
            <%= f.submit'Refuse', class: 'btn btn-danger' %>
          <% end %></li>
        </ul>
      </div>
    </div>
  </div>
    <% end %>
  <% end %>
<% end %>
