<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="product-infos-container">
        <h2 class="text-center">Your cart</h2>
          <table>
            <thead>
              <tr>
                <th class="image"></th>
                <th class="product"></th>
                <th class="ppd">Daily price</th>
                <th class="ppd">Number of days</th>
                <th class="total">TOTAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="image">
                  <div class="product-image">
                    <% unless @order.product.product_images.empty?   %>
                    <%= cl_image_tag @order.product.product_images.first.photo_url, class: "image"  %>
                    <% end %>
                  </div>
                </td>
                <td class="product">
                  <p class="renter">Owner : <%= @owner %></p>
                  <div class="product-description">
                    <%= @order.product.description %>
                  </div>
                </td>
                <td class="ppd">
                    <span class=money>
                      <%=  humanized_money_with_symbol(@order.product.price) %>
                    </span>
                </td>
                <td class="ppd">
                    <span class=money>
                      <%= (@order.end_date - @order.start_date).to_i %>
                    </span>
                </td>
                <td class="total">
                    <span class=money>
                      <strong>
                        <%=  humanized_money_with_symbol(@order.amount) %>
                      </strong>
                    </span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-text">TOTAL : <%=  humanized_money_with_symbol(@order.amount) %> </div>
            <%= simple_form_for(@order, method: :patch) do |f| %>
              <%= f.input :status, :as => :hidden, :input_html => { :value => "pending_acceptance" } %>
              <%= f.input :redirect_path, :as => :hidden, :input_html => { :value => "index_renter"}  %>
              <% if current_user.stripe_customer_id %>
                <%= f.submit "Confirm Order", class: "btn btn-primary" %>
              <% else %>
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="Rental"
                  data-email="<%= current_user.email %>"
                  data-description="Product <%= @order.id %>"
                  data-amount="<%= @order.amount_cents %>"
                  data-currency="<%= @order.amount.currency %>"></script>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
