<div class="container">
  <div class="product-infos-container">
    <div class="row">
      <div class="col-xs-6">
        <div class="card">
          <h1>Locataire</h1>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="card">
          <div class="card-body">
            <div class= "card-title">Checkout</div>
            <div class="card subtitle">Price-per-day : <%=  humanized_money_with_symbol(@order.product.price) %></div>
            <div class="card-text">TOTAL : <%=  humanized_money_with_symbol(@order.amount) %> </div>
            <button type="button" class="btn btn-success">Confirm Rent</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="card description owner">
          <div class="card-body">
            <div class= "card-title"> <%= cl_image_tag current_user.avatar_url %> <strong> <%= @owner %></strong>  : Vendeur particulier </div>
            <br>
            <div class="card-text product-description">"<%= @order.product.description %>"</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
