<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="card buyer" style="width: 18rem; height: 10rem;">
        <div class="card-body">
          <div class="card-title">Buyer</div>
          <div class="card-subtitle"><%= @order.user.first_name.capitalize %> <%= @order.user.last_name.capitalize %></div>
          <%= simple_form_for(@order, method: :patch) do |f| %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "Accepted" } %>
            <%= f.submit'Accept', class: 'btn btn-success' %>
          <% end %>
          <%= simple_form_for(@order, method: :patch) do |f| %>
            <%= f.input :status, :as => :hidden, :input_html => { :value => "Refused" } %>
            <%= f.submit'Refuse', class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="card">
        <div class="card-body">
          Product : <%= @order.product.title %> <br>
          Dates : From <%= @order.start_date %> to <%= @order.end_date %> <br>
          Price : <%=  humanized_money_with_symbol(@order.amount) %>
        </div>
      </div>
    </div>
  </div>
</div>
