
<%= simple_form_for @product, :html => { :multipart => true } do |f| %>
<div class="row">
  <div class="col-xs-7">
    <%= f.input :title %>
    <%= f.input :category, collection: ["Shirt", "Sweater", "Pant", "Bag", "Shoes", "Costume"] %>
    <%= f.input :price_cents, placeholder: "in euros", label: "Price per day" %>

  </div>
  <div class="col-xs-5 form-product-photo">
    <%= f.fields_for :photos do |p| %>
      <%= p.label :photos %>
      <%= p.file_field :photo, :multiple => true, input_html: { hidden: true } %>
    <% end %>
  </div>
</div>
    <%= f.input :address, input_html: {id: "product_address"} %>
    <%= f.input :description %>
    <%= f.input :gender, collection: ["Men", "Women", "Unisex"] %>
    <%= f.button :submit, class: "btn btn-primary", value: "Add product" %>
<% end %>


