  <div class="container product_index" style= "margin-top: 50px; margin-bottom: 50px;">
    <div class = "row">
      <div class = "col-xs-8">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card-product" >
                <% if  product.product_images.empty? %>
                  <div class="card-product-body" >
                  </div>
                <% else %>
                  <div class="card-product-body" style="background-image: url(<%= product.product_images.first.photo_url %>);" >
                  </div>
                <% end %>
                <div class="card-product-footer">
                  <div class="card-product-footer-text">
                    <h5> <%= product.title.capitalize %> </h5>
                    <p><strong><%= humanized_money_with_symbol(product.price) %> </strong> per day</p>
                  </div>
                  <%= cl_image_tag product.user.avatar_url, class: "avatar" %>
                </div>
              </div>
          </div>
        <% end %>
      <% end %>
      </div>
      <div class="col-xs-4">
        <div id="map" style="width: 100%; position: relative; overflow: hidden;" data-markers="<%= @markers.to_json %>">
       </div>
      </div>
  </div>
</div>
